*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-size: 0;
	box-sizing: border-box;
}
input{
	display: block;
	border: none;
	outline: none;
}
.courseBox{
	display:none;
}
.header{
	width: 100%;
	height: 0.9rem;
	background: #1e7df1;
	padding-top: 0.2rem;
	box-sizing: border-box;
}
.nav{
	margin: 0 0 0.15rem 0.25rem;
	width: 7rem;

	height: 0.5rem;
}
.search{
	float: left;
	width: 5.68rem;
	height: 100%;
	background: #1b6cce;
	font-size: 0.22rem;
	padding-left: 0.4rem;
	box-sizing: border-box;
	color: #FFF;
}
::-webkit-input-placeholder{ 
color:rgba(255,255,255,0.5); 
} 
.button{
	width: 0.93rem;
	height: 100%;
	float: right;
	background: #1b6cce;
	font-size: 0.2rem;
	line-height: 0.5rem;
	text-align: center;
	color: #fff;
}
.box{
	height: 1.58rem;
	width: 100%;
	padding: 0.4rem  0.25rem 0;
	box-sizing: border-box;
}
.himg{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.a{
	display: block;
}
.himg .bgimg{
	width: 0.75rem;
	height: 0.77rem;
	float: left;
	padding-right: 0.2rem;
}

.headerimg{
	position: absolute;
	width: 0.6rem;
	height: 0.6rem;
	border: 1px solid #fff;
	top: 0;
	left: 0.07rem;
	border-radius: 50%;
	overflow: hidden;
}
.headerimg > img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.h1,.h2{
	font-weight: 900;
	font-size: 0.3rem;
	color: #1e7df1;
}
.himg .h2{
	color: #19b9f5 ;
	padding-left: 0.15rem;
}
.title{
	font-size: 0.22rem;
	color: rgba(30,125,241,0.8);
	font-weight: 600;
}
.tab{
	width: 1.75rem;
	height: 0.43rem;
	border: 1px solid #5ea2f6;
	background: #2f7ad3;
	color: #fff;
	font-size: 0.24rem;
	line-height: 0.43rem;
	text-align: center;
	float: left;
	margin: 0 0.2rem 0.3rem;
}
.son{
	height: auto;
}
.son:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	clear: both;
}
/* .con{
	display: none ;
} */