
body{
	background: #FFFFFF;
}
.header{
  width: 100%;
  height: 0.84rem;
  padding: 0 0.24rem;
  box-sizing: border-box;
  background: #1e7df1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0.6rem;
	height: 0.6rem;
	background: #FFFFFF;
	border-radius: 50%;
}
.header >  a > i{
	font-size: 0.35rem;
}

div.formGroup{
	width: 4.33rem;
	height: 0.6rem;
	background: #1b6cce;
	padding: 0.1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
::-webkit-input-placeholder{
	color: rgba(255,255,255,0.6);
	font-size: 0.2rem;
}
div.formGroup > input{
	float: left;
	height: 0.3rem;
	padding: 0;
	background: none;
	border: none;
	color: rgba(255,255,255,0.6);
	margin-bottom: 0;
	font-size: 0.2rem;
}

/* header  */

.banner{
	width: 100%;
	height: 5.9rem;
	padding: 0.24rem 0.2rem;
	background: url(../img/index/bannerbg.png) center / cover;
  	
}
.banner > .presentCourse {
	width: 100%;
	height: 2rem;
	background: #FFFFFF;
	padding: 0.18rem;
}

.presentCourse > .title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.1rem;
	border-bottom: 0.01rem solid #d9fbfc;
}
.title >  h3{
	font-size: 0.3rem;
	color:rgba(0,0,0,0.9);
}
.title > .date{
	font-size: 0.2rem;
	color: rgba(0,0,0,0.6);
}


/* courseItem */
.courseItem{
	height: 1.35rem;
}
.courseItem > a{
    width: 100%;
    height: 100%;	
    display: flex;
	justify-content: space-between;
	padding-top: 0.05rem;
}
.courseImg{
	width: 2.18rem;
	height: 100%;
}
.courseImg > img{
	width: 100%;
	height: 100%;
	display: block;
}
.courseInfoBox{
	flex-grow: 1;
    height: 100%;
    padding-left: 0.24rem;
    padding-top: 0.1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.courseInfoBox h1{
    color:  #1E7DF1;
    font-size: 0.28rem;
    opacity: 0.8;
    word-break:break-all;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    overflow:hidden;
}
.courseInfoBox p{
    color: rgba(0,0,0,0.6);
    line-height: 2;
    font-size: 0.18rem;
    word-break:break-all;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

div.tag{
	display: flex;
}
div.tag > button{
	background: #69dcba;
	color: #FFFFFF;
	font-size: 0.2rem;
	border: 0.01rem solid #4ec470;
	padding: 0.03rem 0.12rem;
}

.bannerBox{
	margin-top: 0.1rem;
}
/* banner */

.courseBox{
	width: 100%;
	height: auto;
	padding: 0.24rem;
}
.courseBox > h3.title{
	display: flex;
	align-items: center;
	font-size: 0.3rem;
	color: rgba(0,0,0,0.9);
	position: relative;
	line-height: 1.5;
}

.courseBox > h3.title > img{
   width: 0.22rem;
   height: 0.22rem;
   margin-right: 0.05rem;
}
.courseBox > h3.title > a.courseMore{
	position: absolute;
	right: 0;
	top: 0.1rem;
	width: 0.5rem;
	height: 0.3rem;
	background: url("../img/index/more.png") center/cover;
}


.listBox{
	width: 100%;
	height: auto;
	padding: 0 0.24rem;
}
.listBox > .listItem{
	width: 100%;
	height: 1.82rem;
	padding: 0.1rem 0;
	border-bottom: 0.01rem solid rgba(0,0,0,0.1);
}
.listBox > .listItem > a{
	display: flex;
	width: 100%;
	height: 100%;
}

.listItem .listImg{
	width: 2.18rem;
	height: 1.6rem;

}

.listImg > img{
	display: block;
	width: 100%;
	height: 100%;
}

.listItem  .listInfo{
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 0.15rem;
}
.listInfo > .listInfoTop{
	display: flex;
	justify-content: space-between;

}
.listInfo > .listInfoTop > h3{
	max-width: 3.3rem;
	font-size: 0.28rem;
	line-height: 1.5;
	color: rgba(0,0,0,0.9);
	font-weight: bold;
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.listInfo > .listInfoTop > span.listPrice{
	line-height: 1.5;
	font-size: 0.28rem;
	color: rgba(0,0,0,0.9);
}
.listInfo > .listDesc{
	max-width: 3.3rem;
	font-size: 0.2em;
	line-height: 1.2;
	color: rgba(0,0,0,0.7);
	font-weight: normal;
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.listInfo > div.tagList{
    display: flex;
}
div.tagList > button {
	background: #4292F3;
	color: #FFFFFF;
	font-size: 0.2rem;
	border: 0.01rem solid #3985e0;
	padding: 0.03rem 0.12rem;
	margin-right: 0.1rem;
}
div.tagList > button:nth-of-type(2){
	background: #19B9F5;
	border: 0.01rem solid #17a8df;
}
div.tagList> button:nth-of-type(3){
	background: #69dcba;
	border: 0.01rem solid #4ec470;
}

/* coursebox*/

.load{
	width: 100%;
	height: 0.9rem;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
.dotBox {
    width: 1.1rem;
    height: 0.16rem;
    display: flex;
    justify-content: space-between;
  }

.dotBox .dot {
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 50%;
    background: #19b9f5;
  }

.dotBox .dot1 {
    animation: change 1s 0.2s infinite alternate;
  }

.dotBox .dot2 {
    animation: change 1s 0.4s infinite alternate;
  }

.dotBox .dot3 {
    animation: change 1s 0.6s infinite alternate;
  }
  @keyframes change {
    0% {
      background: #19b9f5;
    }
    50% {
      background: #378bf2;
    }
    100% {
      background: #1e7df1;
    }
  }
  
  .alert{
	width:4.7rem;
	height: 3rem;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	background-image: url('../img/person/remove.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 20;
	box-shadow: 0 0 8px 6rem rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.4); 
	display: none;
}
.alert .btn{
	width:0.76rem;
	height:0.76rem;
	position: absolute;
	left:0;
	right:0;
	margin:0 auto;
	top:0.14rem;
}
.alert h3{
	margin-top: 1.46rem;
	text-align: center;
	color: #fff;
	font-size: 0.32rem;
}


