@import url("../base.css");

.top{
	width:100%;
	height:4.2rem;
	position:fixed;
	top:0;
	left:0;
	background-image: url("../../img/person/bgimage.png");
	background-position: center;
	background-size: 100%;
	z-index: 10;
}
.top .logo{
	display: block;
	width:1.49rem;
	height:1.53rem;
	margin:0.38rem auto 0;
}
.top img{
	display: block;
	width:1.49rem;
	height:1.53rem;
}
.top .name{
	text-align: center;
	color: #fff;
	font-size: 0.3rem;
	margin-top: 0.2rem;
}
.top .school{
	text-align: center;
	color: #fff;
	font-size: 0.3rem;
	margin-top: 0.2rem;
	
}
.top .edits{
	display: block;
	width:0.58rem;
	height:0.58rem;
	margin:0.31rem auto 0;
}
.top .edit{
	display: block;
	width:0.58rem;
	height:0.58rem;
}
.main{
	width:100%;
	overflow: hidden;
	padding:0.2rem 0.24rem 0;
	box-sizing: border-box;
	margin-top: 4.22rem;
}
.main .title{
	width:100%;
	height:1.2rem;
	font-size: 0.4rem;
}
.main .title img{
	width:0.22rem;
	height:0.22rem;
	margin-right:0.19rem ;
	margin-top: 0.06rem;
	float: left;
}
.main .title .text{
	color:#191919;
	font-size: 0.3rem;
	line-height: 1.2rem;
	float: left;
	font-weight: 700;
}
.listBox{
	width: 100%;
	height: auto;
	padding: 0 0.24rem;
	margin-bottom: 1rem;
}
.listBox > .listItem{
	width: 100%;
	height: 1.82rem;
	padding: 0.1rem 0;
    position: relative;
	
}
.listBox > .listItem > a{
	display: flex;
	width: 100%;
	height: 100%;
}

.listItem .listImg{
	width: 2.18rem;
	height: 1.6rem;

}

.listImg > img{
	display: block;
	width: 100%;
	height: 100%;
}

.listItem  .listInfo{
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 0.15rem;

	
}
.listInfo > .listInfoTop{
	display: flex;
	justify-content: space-between;

}
.listInfo > .listInfoTop > h3{
	max-width: 3.5rem;
	font-size: 0.28rem;
	line-height: 1.5;
	color: rgba(0,0,0,0.9);
	font-weight: normal;
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.listInfo > .listInfoTop > span.listPrice{
	line-height: 1.5;
	font-size: 0.28rem;
	color: rgba(0,0,0,0.9);
}
.listInfo > div.tagList{
    display: flex;

}
.listBox .iconfont{
	position: absolute;
	right:0;
	bottom:0.1rem;
	width:0.3rem;
	height:0.3rem;
	z-index: 5;
	color: #19b9f5;
	font-size: 0.3rem;
	/*background: blue;*/

}
div.tagList > button {
	background: #4292F3;
	color: #FFFFFF;
	font-size: 0.2rem;
	border: 0.01rem solid #3985e0;
	padding: 0.03rem 0.12rem;
	margin-right: 0.1rem;
}
div.tagList > button:nth-of-type(2){
	background: #19B9F5;
	border: 0.01rem solid #17a8df;
}
div.tagList> button:nth-of-type(3){
	background: #69dcba;
	border: 0.01rem solid #4ec470;
}






.footer{
	width:100%;
	height:1rem;
	background: #fff;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,0.3);
	position: fixed;
	bottom: 0;
	left:0;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 999;
	
}
.footer .con{
	width:0.5rem;
	height:1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.footer .con .iconfont{
	font-size: 0.4rem;
	color: #b2b2b2;
}
.footer .con.active span{
	color:#19b9f5;
}
.footer .con .text{
	font-size: 0.2rem;
	color:#b2b2b2;
	text-align: center;
}

.alert{
	width:4.7rem;
	height: 3rem;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	background-image: url('../../img/person/remove.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 20;
	box-shadow: 0 0 8px 6rem rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.4); 
	display: none;
}
.alert .btn{
	width:0.76rem;
	height:0.76rem;
	position: absolute;
	left:0;
	right:0;
	margin:0 auto;
	top:0.14rem;
}
.alert h3{
	margin-top: 1.46rem;
	text-align: center;
	color: #fff;
	font-size: 0.32rem;
}



